# General
.DS_Store
.history
*.log

# Gradle stuff
.gradle/
**/build/
!**/src/**/build/
gradle-app.setting

# IDEs
.idea/
*.iml
*.iws
.vscode/
.project
.settings/
.classpath

# Spring Boot
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war

# Kotlin
.kotlin/

# Build artifacts
bin/
.factorypath

